<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Hi! It is cat simulator.</h1>
    <h2>to start enter cat name</h2>
    <form action="cat_stats/" method="GET">
        {% csrf_token %}
        <input type="text" placeholder="enter new cat name" name="name" id="name" required>
        <input type="submit" value="create">
    </form>
</div>
</body>
</html>